body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(235, 235, 235);
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    color: blueviolet;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin-bottom: 30px;
}

.admin-header-logo {
    display: flex;
    width: 65px;
    margin-left: 25px;
    object-fit: cover;
}

.admin-header-img {
    width: 110px;
}

.admin-profile {
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin-right: 5px;
    margin-top: 0px;
    align-items:self-start;
}

.admin-name, .admin-id {
    margin-top: 6px;
    margin-right: 10px;
    font-size: 16px;
    align-items:flex-start;
    color: blueviolet;
    font-weight: 700;
}

.admin-profile-photo {
    display: flex;
    width: 100px;
    margin-top: 5px;
    align-items: center;
}

.admin-profile-img {
    width: 50px;
    border-radius: 40px;
}

.admin-body {
    height: fit-content;
    margin-top: 90px;
}

.admin-menu-container {
    position: fixed;
    bottom: 0;
    top: 85px;
    left: 0;
    width: 180px;
    background-color: white;
    height: 750px;
    align-items: center;
    z-index: 50;
    margin-bottom: 0px;
}

.admin_tabs {
    padding: 10px 5px 10px 5px;
    width: 170px;
    cursor: pointer;
    background-color: white;
    border-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: blueviolet;
    transition : 0.1s;
    border-radius: 20px;
    margin-top: 30px;
}

.admin_head {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin-left: 90px;
}

.admin_tabs:hover {
    font-size: 17px;
    font-weight: 700;
}
.admin-menu-container .admin_tabs.active {
    background-color: blueviolet;
    color: white;
    font-size: 17px;
    font-weight: 700;
}

.content-container {
    margin-left: 200px;
    margin-top: 110px;
    margin-right: 20px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-container .content {
    display: none;
    padding: 30px;
}

.content-container .content.active {
    display: block;
}

.desc-container_1, .desc-container_2 {
    display: flex;
    grid-template-columns: 300px, 300px, 300px;
    column-gap: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
    font-weight: 600;
    padding: 5px 20px 5px 20px;
}

.desc-container_1 {
    margin-bottom: 30px;
}

.application_count, .no_of_users, .scholarship_issued, .rejected_applications, .appli_under_review{
    font-size: 20px;
    font-weight: 700;
}

.appli_count, .user_count, .issued_count, .rejected_count, .review_count{
    text-align: right;
    font-size: 28px;
    font-weight: 700;
}

table {
    width: 100%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-spacing: 30px;
}

.verify{
    width: 120px;
    margin: auto;
    color: blueviolet;
    background-color: white;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 0px 6px 0px ;
    cursor: pointer;
    transition: 0.15s;
    align-items: center;
}

.verify:hover{
    background-color: blueviolet;
    color: white;
}

th{
    border-bottom: 3px solid blueviolet;
    color: blueviolet;
}
td {
    font-weight: 400;
    padding: 10px;
    text-align: center;
}

.table-head{
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    color: blueviolet;
}

.removebtn{
    width:100%;
    margin: 0px;
    color: blueviolet;
    background-color: white;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: 0.15s;
    align-items: center; 
}

.removebtn:hover{
    background-color: blueviolet;
    color: white;
}